body{
    cursor: help;
    background-color: white;
    color: black;
}
#car{
    position: fixed;
    top: 200px;
    right: 30%;
}
#car:hover + #container{
    background: rgb(134,66,53);
    background: radial-gradient(circle, rgba(134,66,53,1) 3%, rgba(198,108,65,1) 54%, rgba(226,225,83,1) 100%);
    color: white;
}
#container{
    width: 100%;
    height: 100%;
}
#text{
    font-family: 'Chivo', sans-serif;
    font-size: 60pt;
    width: 100%;
    text-align: justify;
}
#coin{
    position: fixed;
    top: 500px;
    left: 10%;
    height: 200px;
    width: 200px;
}
#couch{
    position: fixed;
    top: 10px;
    right: 10%;
    height: 100px;
    width: 100px;
}
#chandelier{
    position: fixed;
    top: 520px;
    left: 50%;
    height: 300px;
    width: 300px;
}
#gun{
    position: fixed;
    top: 10px;
    left: 10%;
    height: 100px;
    width: 100px;
}
#sharksmile{
    position: fixed;
    top: 310px;
    left: 23%;
    height: 100px;
    width: 100px;
}
#bigthief{
    position: fixed;
    top: 650px;
    right: 15%;
    height: 70px;
    width: 70px;
}
#sharksmilemobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#couchmobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#coinmobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#chandeliermobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext1{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext2{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext3{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext4{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
    #coin{
        visibility: hidden;
    }
    #chandelier{
        visibility: hidden;
    }
    #gun{
        visibility: hidden;
    }
    #car{
        visibility: hidden;
    }
    #text{
        visibility: hidden;
    }
    #couch{
        visibility: hidden;
    }
    #container{
        width: 100%;
        height: 100%;
    }
    #couchmobile{
        visibility: visible;
        position: fixed;
        top: 27%;
        height: 200px;
        left: 30%;
    }
    #coinmobile{
        visibility: visible;
        position: fixed;
        top: 48%;
        left: 40%;
        height: 200px;
    }
    #chandeliermobile{
        visibility: visible;
        position: fixed;
        bottom: 16%;
        height: 200px;
        width: 200px;
        left: 39%;
    }
    #sharksmilemobile{
        visibility: visible;
        position: fixed;
        top: 6%;
        left: 33%;
    }
    #container{
        width: 100%;
        height: 100%;
    }
    #mobiletext1{
        visibility: visible;
        position: fixed;
        text-align: justify;
        font-family: 'Chivo', sans-serif;
        font-size: 30pt;
        left: 25%;
        right: 25%;
        top: 17.5%;
    }
    #mobiletext2{
        visibility: visible;
        position: fixed;
        font-family: 'Chivo', sans-serif;
        font-size: 30pt;
        text-align: justify;
        left: 25%;
        right: 25%;
        top: 40%;
    }
    #mobiletext3{
        visibility: visible;
        position: fixed;
        font-family: 'Chivo', sans-serif;
        font-size: 30pt;
        left: 25%;
        right: 25%;
        top: 62.5%;
        text-align: justify;
    }
    #mobiletext4{
        visibility: visible;
        position: fixed;
        text-align: justify;
        font-family: 'Chivo', sans-serif;
        font-size: 30pt;
        top: 87.5%;
        left: 25%;
        right: 25%;
    }
 }