*{
    margin: 0;
    padding: 0;
}
body{
    cursor: help;
    color: black;
}
#car{
    position: fixed;
    top: 200px;
    right: 30%;
    height: 100px;
    width: relative;
}
iframe{
    visibility: hidden;
    position: absolute;
    left: 5px;
}
#car:hover + #container{
    background: rgb(134,66,53);
    background: radial-gradient(circle, rgba(134,66,53,1) 3%, rgba(198,108,65,1) 54%, rgba(226,225,83,1) 100%);
    color: white;
}
#container{
    width: 100%;
    height: 100%;
}
#text{
    font-family: 'Chivo', sans-serif;
    font-size: 60pt;
    width: 100%;
    text-align: justify;
}
#text2{
    visibility: hidden;
}
#coin{
    position: fixed;
    top: 530px;
    left: 4%;
    height: 200px;
    width: 200px;
}
#couch{
    position: fixed;
    top: 10px;
    right: 15%;
    height: 100px;
    width: 100px;
}
#chandelier{
    position: fixed;
    top: 520px;
    left: 50%;
    height: 300px;
    width: 300px;
}
#gun{
    position: fixed;
    top: 10px;
    left: 10%;
    height: 100px;
    width: 100px;
}
#sharksmile{
    position: fixed;
    top: 410px;
    left: 19%;
    height: 100px;
    width: 100px;
}
#bigthief{
    position: fixed;
    top: 490px;
    right: 20%;
    height: 70px;
    width: 70px;
}
#sharksmilemobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#couchmobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#coinmobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#chandeliermobile{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#oval{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext1{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext2{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext3{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext4{
    visibility: hidden;
    top: 5%;
    position: absolute;
}
#mobiletext5{
    visibility: hidden;
    top: 5px;
    left: 5px;
}
#coin2{
    visibility: hidden;
    left: 5px;
    top: 5px;
}
#couch2{
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: 5px;
}
#chandelier2{
    visibility: hidden;
    left: 5px;
    top: 5px;
    position: absolute;
}
#gun2{
    visibility: hidden;
    left: 5px;
    top: 5px;
    position: absolute;
}
@media only screen
 and (min-device-width: 0px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
    body{
        background: black;
    }
    #coin{
        visibility: hidden;
    }
    #chandelier{
        visibility: hidden; 
    }
    #text2{
        visibility: hidden;
        font-size: 0px;
        left: 5px;
    }
    #gun{
        visibility: hidden;
    }
    #car{
        visibility: hidden;
    }
    #text{
        visibility: hidden;
        position: absolute;
        left: 1px;
    }
    iframe{
        visibility: hidden;
        position: absolute;
        left: 5px;
    }
    #couch{
        visibility: hidden;
    }
    #coin2{
        visibility: hidden;
        left: 5px;
        top: 5px;
        height: 0px;
        position: absolute;
    }
    #couch2{
        visibility: hidden;
        left: 5px;
        top: 5px;
        height: 0px;
        position: absolute;
    }
    #chandelier2{
        visibility: hidden;
        left: 5px;
        top: 5px;
        height: 0px;
        position: absolute;
    }
    #gun2{
        visibility: hidden;
        left: 5px;
        top: 5px;
        height: 0px;
        position: absolute;
    }
    #mobiletext1{
        visibility: visible;
        position: fixed;
        color: white;
        font-family: 'Chivo', sans-serif;
        font-size: 35pt;
        text-align: justify;
        padding: 40px;
        width: 80%;
        top: 2%;
        animation: text-blur-out;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-duration: 18s;
        animation-fill-mode: forwards;
    }
    @keyframes text-blur-out {
        0% {
            filter: blur(0.01);
        }
        100% {
            filter: blur(12px) opacity(0%);
        }
    }
    #mobiletext2{
        visibility: visible;
        position: fixed;
        color: white;
        font-family: 'Chivo', sans-serif;
        font-size: 35pt;
        text-align: justify;
        padding: 40px;
        top: 22%;
        width: 80%;
        animation: text-blur-out;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-duration: 24s;
        animation-fill-mode: forwards;
    }
    #mobiletext3{
        visibility: visible;
        position: fixed;
        color: white;
        font-family: 'Chivo', sans-serif;
        font-size: 35pt;
        padding: 40px;
        top: 48%;
        text-align: justify;
        width: 80%;
        animation: text-blur-out;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 41s;
        animation-fill-mode: forwards;
    }
    #mobiletext4{
        visibility: visible;
        position: fixed;
        color: white;
        text-align: justify;
        font-family: 'Chivo', sans-serif;
        font-size: 35pt;
        top: 73%;
        width: 80%;
        padding: 40px;
        animation: text-blur-out;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 58s;
        animation-fill-mode: forwards;
    }
 }
 @media only screen
 and (min-device-width: 2000px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        padding-bottom: 100px;
        background: rgb(134,66,53);
        background: linear-gradient(rgba(134,66,53,1) 0%, rgba(198,108,65,1) 50%, rgba(226,225,83,1) 100%);
    }
    #coin{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #chandelier{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #gun{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #car{
        visibility: visible;
        position: absolute;
        top: 80px;
        left: 43%;
    }
    #container{
        left: 10%;
        right: 10%;
    }
    #text{
        visibility: hidden;
        font-size: 0px;
    }
    #text2{
        font-family: 'Chivo', sans-serif;
        font-size: 30pt;
        text-align: justify;
        width: 100%;
        color: black;
        visibility: visible;
        line-height: .87;
        z-index: 30;
        margin-left: 27%;
        margin-top: 15%;
    }
    iframe{
        visibility: hidden;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    #couch{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #mobiletext1{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #mobiletext2{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #mobiletext3{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #mobiletext4{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    #mobiletext5{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    iframe{
        visibility: hidden;
        top: 5px;
        left: 5px;
    }
    .mobileTV{
        color: black;
        padding: 5px;
        height: 30px;
        background-color: white;
        border-radius: 30px;
        border-color: black;
        border-style: solid;
        text-shadow: none;
    }
    #coin2{
        visibility: hidden;
        top: 35%;
        left: 49%;
        position: fixed;
    }
    #couch2{
        visibility: hidden;
        top: 80%;
        position: fixed;
        left: 75%;
    }
    #chandelier2{
        visibility: hidden;
        top: 7%;
        position: fixed;
        left: 14%;
    }
    #gun2{
        visibility: hidden;
        position: fixed;
        top: 5%;
        left: 80%;
        height: 210px;
    }
    .fade1{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-fill-mode: forwards;
    }
    .fade2{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-fill-mode: forwards;
    }
    .fade3{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 49s;
        animation-fill-mode: forwards;
    }
    .fade4{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 64s;
        animation-fill-mode: forwards;
    }
    .fade5{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 94s;
        animation-fill-mode: forwards;
    }
    .fade6{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 124s;
        animation-fill-mode: forwards;
    }
    .fade7{
        animation: text-blur-in;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-duration: 162s;
        animation-fill-mode: forwards;
    }
    @keyframes text-blur-in {
        0% {
            filter: blur(12px) opacity(0%);
        }
        100% {
            filter: blur(0.01);
        }
    }
 }